name: Generate GitHub metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - main
      - master

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          user: gabrielvfdelima

          base: ""

          filename: isocalendar.svg

          plugin_isocalendar: yes

          plugin_isocalendar_duration: full-year
